header{
    background-color:#342934;

}

.NAVBAR_MOBILE{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 0;
}

.nav-menu{
    display:flex;
    align-items: center;

}

.collapse-btn{
    width: 30px;
}

.collapse-btn img{
    width: 100%;
}

.nav-menu-items{
    display:none;
    position: absolute;
    left:0px;
    right: 0px;
    top: 75px;
    list-style-type: none;
    margin:0px;
    padding: 15px;
    background-color: #342934;
}
.new-item{
    margin:10px 0px;
}

.nav-item a{
    color: #fff;
    text-decoration:none;
}

.open {
    display:block;
}