header{
    background-image:url('img3.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position-y:center;
    background-position-x:center;
    position:relative;

}

.NAVBAR_MOBILE{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px 0;
    position: relative;
    z-index:3;
    border-bottom:2px solid white;
}

.nav-menu{
    display:flex;
    align-items: center;

}

.collapse-btn{
    width: 30px;
}

.collapse-btn:hover{
    cursor: pointer;
}

.collapse-btn img{
    width: 100%;
}

.nav-menu-items{
    display:none;
    position: absolute;
    left:0px;
    right: 0px;
    top: 75px;
    list-style-type: none;
    margin:0px;
    padding: 15px;
    background-color: rgba(000,000,000,0.8);
}
.new-item{
    margin:10px 0px;
}

.nav-item a{
    color: #fff;
    text-decoration:none;
}

.open {
    display:block;
}

.banner{
    height:100vh;
    display:flex;
    align-items:center;
    position:relative;
    z-index:2;
}

.banner h1{
    font-size: 40px;
    color: #FFF;
}

.banner p{
    color: #FFF;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap:20px 20px;
}

.banner-img{
    display: none;
}

/* Desktop resolution */
@media only screen and (min-width:900px){
    .banner-img{
        display:block;
        position: absolute;
        right:20px;
        bottom:-100px;
    }

    .buttons{
        flex-direction:row;
    }

    .banner{
        height:auto;
        margin-top: 200px;
    }

    .banner-components{
        max-width:500px;
    }
    h1, p, .buttons{
        margin:50px 0;
    }
}